doctype html
html
  head
    title Folio
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-min.css')
    link(rel='stylesheet', href='static/css/style.css')
    link(rel='shortcut icon', href='static/img/folio-favicon.png', type='image/png')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/chartist/0.8.0/chartist.min.css')

  body
    
    folio

    script(src='//cdnjs.cloudflare.com/ajax/libs/riot/2.2.1/riot+compiler.min.js')
    script(src='//javaspritz.com/cdn/dom.polyfill.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js')
    script(src='static/js/pikaday.js')
    script(src='static/js/awesomplete/awesomplete.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/chartist/0.8.0/chartist.min.js')

    script(src='dist/folio.js', type='riot/tag')
    script.
      riot.mount('folio');


    script.
      (function () {

        /*new Chartist.Line('.ct-chart.ct-area', {
          labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
          series: [
            ['470', '870', '52', '500', '212', '334'],
            ['470', '690', '52', '500', '50', '0']
          ]
        }, {
          low: 0,
          showArea: true,
          showLine: false,
          showPoint: false,
          fullWidth: true,
          lineSmooth: Chartist.Interpolation.simple({
            divisor: 20
          }),
          axisX: {
            showGrid: false
          },
          axisY: {
            showLabel: false,
            offset: 0,
            labelInterpolationFnc: function (value) {
              return '€ ' + value;
            }
          }
        });*/

      })();